HTTP_TARGET_ADDRESS=":4000"
DB_PORT=5432
DB_ROOT_USER=root
DB_ROOT_PW=secret
DB_NAME=snippet_db
DB_SCHEMA=snippet_schema
DB_USER=web
DB_USER_PW=secret

# for the app
DB_DRIVER=pgx
DB_SOURCE=postgresql://web:secret@localhost:5432/snippet_db?sslmode=disable
