{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Quotebox</title>
    <!-- link to CSS stylesheet and favicon and font-->
    <link rel="stylesheet" href="/static/css/main.css?v=11">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
</head>

<body>
    <header>
        <h1><a href='/'>Quotebox</a></h1>
    </header>
    <!-- invoke the navigation template -->
    {{template "nav" .}}
    <main>
        <!-- invoke main template, . is dynamic data passed -->
        {{template "main" .}}
    </main>
    <footer>Copyright 2024 <a href='https://jaked0626.github.io/digital-biz-card/'>Jake Underland</a></footer>
    <script src="/static/js/main.js" type="text/javascript"></script>
</body>
</html> 
{{end}}