* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    background-color: #fdf6e3;
    color: #073b4c;
    overflow-y: scroll;
  }
  
  header,
  nav,
  main {
    padding: 2px calc((100% - 800px) / 2) 0;
  }
  
  main {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
  }
  
  h1 a {
    font-size: 36px;
    font-weight: bold;
    background-image: url("/static/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 36px;
    padding-left: 50px;
    position: relative;
    text-shadow: 2px 2px #f05d5e;
  }
  
  h1 a:hover {
    text-decoration: none;
    color: #073b4c;
    cursor: pointer;
  }
  
  h2 {
    font-size: 22px;
    margin-bottom: 36px;
    position: relative;
    top: -9px;
    text-shadow: 1px 1px #f05d5e;
  }
  
  a {
    color: #f05d5e;
    text-decoration: none;
    text-shadow: 1px 1px #073b4c;
  }
  
  a:hover {
    color: #073b4c;
    text-decoration: underline;
    cursor: pointer;
  }

  nav a:hover {
    cursor: pointer;
  }
  
  textarea,
  input:not([type="submit"]) {
    font-size: 18px;
    font-family: "Helvetica Neue", sans-serif;
  }
  
  header {
    background-image: linear-gradient(to right, #f05d5e 0%, #e9ab9d 100%);
    background-size: 100% 6px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #e9ab9d;
    overflow: auto;
    padding-top: 33px;
    padding-bottom: 27px;
    text-align: center;
  }
  
  header a {
    color: #073b4c;
    text-decoration: none;
  }
  
  nav {
    border-bottom: 1px solid #e9ab9d;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #073b4c;
    height: 60px;
    color: #fdf6e3;
  }
  
  nav a {
    margin-right: 1.5em;
    display: inline-block;
    text-shadow: 1px 1px #f05d5e;
  }
  
  nav form {
    display: inline-block;
    margin-left: 1.5em;
  }
  
  nav div {
    width: 50%;
    float: left;
  }
  
  nav div:last-child {
    text-align: right;
  }
  
  nav div:last-child a {
    margin-left: 1.5em;
    margin-right: 0;
  }
  
  nav a.live {
    color: #fdf6e3;
    cursor: default;
  }
  
  nav a.live:hover {
    text-decoration: none;
    cursor:pointer;
  }
  
  nav a.live:after {
    content: "";
    display: block;
    position: relative;
    left: calc(50% - 7px);
    top: 6
  }
  
  footer {
    text-align: center;
  }
  